# Ignore sas-bases directory and everything inside it
sas-bases/

# Ignore specific deployment assets
SASViyaV4*


# Ignore kustomization.yaml under deployment deployment/stable2025-04
deployment/stable2025-04/kustomization.yaml

git-push.sh
